<%= form_for @photo do |f| %>

  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@photo.errors.count, "error") %>
        Woops! Looks like you've got an error or two...
      </h2>
      <ul>
        <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>