<p><strong><%= @photo.title %></strong> | <%= @photo.author %></p>
<img src='<%= @photo.url %>' alt='<%= @photo.title %>'>

<p>
  <%= button_to 'Edit Pic', edit_photo_path, :method => :get %>
  <%= button_to 'Delete Pic', photo_path(@photo), method: :delete, data: { confirm: "Are you sure?" } %>
</p>

<p><%= link_to 'Back', welcome_index_path %></p>
